* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  margin: 0;
  padding: 0;
}
/* Header */
header {
    justify-content: space-between;
    width: 85%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#view-high-scores:hover {
    cursor: pointer;
  
}

#view-high-scores {
    padding-left: 20px;
    font-size: 20px;
    display: inline;
    margin-top: 10px;
}

.timer {
    font-size: 20px;
    display: inline;
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
}

/*Main content */
.container {
    padding: 30px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}


h1 {
  color: black;
  
}

p {
  
  font-size: 20px;
}

.start {
  align-items: center;
  text-align: center;
  }

.start h1, .start p {
   text-align: center;
}

.questions {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  margin: auto;
}

.end h1, .end p {
    text-align: left
}

.end input {
  outline: thick; 
  border-width: 1px;
  padding: 5px;
  width: 35%;
  font-size: 2.2rem;
  border-radius: 5px;
}

.end input:focus {
  border: 2px solid
}

.show {
    display: flex;
}

.hide {
    display: none;
}

#question {
  text-align: left;
  font-size: 3.0rem;
  font-weight: bold;
}

#high-score {
    text-align: left;
}

/*Button Styling */
.btn {
    background: purple;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.btn:hover {
    background: grey;
    border-radius: 10px;
    box-shadow: 0 2px grey;
    cursor: pointer;
}

.btn:active {
    border: none;
    outline: none;
    box-shadow: 0 0 grey;
}

.btn:focus {
    outline: gray;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;
}

.startend {
   width: 25%;
   margin-top: 10px;
}

.answerbtn {
   width: 50%;
   text-align: left;
   font-size: 25px;
}

/* correct/wrong styling */

.banner {
   font-size: 25px;
   text-align: center;
   color: black;
   font-style: italic;
   margin: 0 100px;
}

.banner h2 {
  border-top: 2px solid black;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}

/* List for High Scores */

ol {
  list-style-type: number
  ;
}

li:nth-child(odd) {
   background-color: purple;
}


li {
  font-size: 30px;
}
